body {
  padding: 20px;
}

a {
  float: left;
  padding-right: 40px;
}

div {
  display: inline-block;
  font-family: helvetica;
  width: 300px;
  font-size: 24px;
}

em {
  font-weight: 700;
  font-style: normal;
}